/* Resets globais */

body,
h1,
h2,
span,
a {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/* Estilos */
#container-bg {
  height: 100vh;
  background-color: hsl(225, 100%, 94%);
  position: relative;
  z-index: 2;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/order-summary-component-main/images/pattern-background-desktop.svg")
    no-repeat;
  background-size: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo-geral {
  background-color: hsl(225, 100%, 98%);
  width: 420px;
  border-radius: 20px;
}

.conteudo-geral img{
  border-radius: 20px 20px 0 0;
}

.conteudo-texto {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.conteudo-texto h1 {
  color: hsl(223, 47%, 23%);
}

.conteudo-texto p {
  color: hsl(224, 23%, 55%);
  font-size: 20px;
}

.conteudo-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  position: relative;
}

.conteudo-grid-plano {
  display: grid;
  grid-column: 2;
  gap: 5px;
}

.conteudo-grid-plano h2,
span {
  font-size: 18px;
}

.conteudo-grid-plano h2 {
  color: hsl(223, 47%, 23%);
}

.conteudo-grid-plano span,
a {
  color: hsl(224, 23%, 55%);
}

.conteudo-grid-plano::before {
  content: url("../order-summary-component-main/images/icon-music.svg");
  position: absolute;
  top: 18px;
  left: 40px;
  width: 20px;
  height: 20px;
}

.conteudo-botao {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.comprar {
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 94%);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 80px;
  box-shadow: 2px 8px 5px hsl(224, 23%, 80%);
}

.comprar:hover {
  background-color: hsl(224, 23%, 55%);
  transition: 0.3s;
}

.cancelar {
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .conteudo {
    width: 300px;
  }

  .conteudo-texto h1 {
    font-size: 22px;
  }

  .conteudo-texto p {
    font-size: 16px;
  }

  .background {
    background: none;
  }

  .conteudo-grid a {
    text-decoration: underline;
  }

  .conteudo-grid-plano::before {
    top: 18px;
    left: 25px;
    width: 10px;
    height: 10px;
  }
}
